[project]
	description = Ciao - Cloud Integrated Advanced Orchestrator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Obed N Munoz (obedmr)
[access "refs/for/refs/*"]
	read = group user/Obed N Munoz (obedmr)
	push = group user/Obed N Munoz (obedmr)
	label-Code-Review = -2..+2 group user/Obed N Munoz (obedmr)
	label-Verified = -1..+1 group user/Obed N Munoz (obedmr)
	rebase = group user/Obed N Munoz (obedmr)
	removeReviewer = group user/Obed N Munoz (obedmr)
	submit = group user/Obed N Munoz (obedmr)
[access "refs/heads/*"]
	read = group user/Obed N Munoz (obedmr)
	create = group user/Obed N Munoz (obedmr)
	push = +force group user/Obed N Munoz (obedmr)
	pushMerge = group user/Obed N Munoz (obedmr)
[access "refs/tags/*"]
	push = group user/Obed N Munoz (obedmr)
	push = +force group user/Obed N Munoz (obedmr)
