[Unit]
Description=CIAO Compute Launcher Service
After=network.target

[Service]
Type=simple
ExecStart={{ bindir }}/ciao-launcher --cacert=/etc/pki/ciao/CAcert-{{ ciao_controller_fqdn }}.pem \
                                 --cert=/etc/pki/ciao/cert-CNAgent-localhost.pem \
                                 --logtostderr -v 2
Restart=always

[Install]
WantedBy=multi-user.target
