[Unit]
Description=Keystone Container for CIAO
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ciao-keystone
ExecStop=/usr/bin/docker stop -t 2 ciao-keystone

[Install]
WantedBy=default.target
